C 0 0 "STANDBY" 0 0 0 0 60 0 L
L 200 0 0 0 -1 0
C 0 -100 "GND" 0 -100 0 0 60 0 L
L 200 -100 0 -100 -1 0
C 1400 0 "OUTPUT" 1400 0 0 0 60 0 R
L 1200 0 1400 0 -1 0
C 1400 -100 "VDD" 1400 -100 0 0 60 0 R
L 1200 -100 1400 -100 -1 0
L 200 100 1200 100 -1 0
L 1200 -200 1200 100 -1 0
L 1200 -200 200 -200 -1 0
L 200 100 200 -200 -1 0
P "$LOCATION" "?" 1250 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

